.mainframe {
	text-decoration: underline;
	

}








.speech-bubble {
	position: relative;
	background: #ff4d76;
	border-radius: .4em;
	
	
	opacity: 0;
	
	
	
	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-right-color: #ff4d76;
	border-left: 0;
	border-top: 0;
	
	margin-top: -9.5px;
	margin-left: -19px;
	text-align:center;
	vertical-align:middle;
	
	
	
}


.user-bubble {
	position: relative;
	background: #4dafff;
	border-radius: .4em;
	opacity: 0;
	
}

.user-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-left-color: #4dafff;
	border-right: 0;
	border-top: 0;
	margin-top: -9.5px;
	margin-right: -19px;
	text-align:center;
	vertical-align:middle;
	
	
}